h2{
  text-align: center;
  padding-top:10px ;
}
.container{
  margin-left: 30%;
  margin-top: 10%;
  width: 400px;
  height: 60vh;
  background-color: antiquewhite;
  box-sizing: border-box;
}
#inner_con{
  margin-left: 55px;
}
.btn{
  margin: 15px 0px 0px 10px;
  padding: 10px 30px;
}
.btn_2{
  margin: 15px 0px 0px 10px;
  padding: 12px 23px;
}

#zero{
  margin: 15px 0px 0px 10px;
  padding: 12px 28px;
}